In [11]:
#while loop, note count
total_notes=int(input('enter total notes to deposit'))
note_amt=(int(input('enter note value')))
count = 1
while count<=total_notes:
    print(f' your total amount is {count*note_amt} is on note count {count}')
    count= count+1
print('total is',(count-1)*note_amt)

enter total notes to deposit10
enter note value10
 your total amount is 10 is on note count 1
 your total amount is 20 is on note count 2
 your total amount is 30 is on note count 3
 your total amount is 40 is on note count 4
 your total amount is 50 is on note count 5
 your total amount is 60 is on note count 6
 your total amount is 70 is on note count 7
 your total amount is 80 is on note count 8
 your total amount is 90 is on note count 9
 your total amount is 100 is on note count 10
total is 100

In [16]:
#metro station
stations = ['Delhi','Mumbai','Kolkata','Chennai']
current_station=0
destination_station='Kolkata'
while stations[current_station] != destination_station:
    print(f'Its {stations[current_station]} station, and your station is {destination_station} so enjoy journey')
    current_station+=1
print(f'your current station {stations[current_station]} is arrived, Thank you for choosing us')

Its Delhi station, and your station is Kolkata so enjoy journey
Its Mumbai station, and your station is Kolkata so enjoy journey
your current station Kolkata is arrived, Thank you for choosing us

In [27]:
i=1
while i in range(1,6):
    print("*"*i)
    i=i+1

*
**
***
****
*****

In [8]:
i=5
while i in range(5,0,-1):
    print("*"*i)
    i-=1

*****
****
***
**
*

In [14]:
i=1
j=5
while i in range(1,6):
    print(" "*j+"*"*i)
    i+=1
    j-=1

     *
    **
   ***
  ****
 *****

In [15]:
i=5
j=1
while j in range(5,0,-1):
    print(" "*j+"*"*i)
    i-=1
    j+=1

 *****
  ****
   ***
    **
     *

In [35]:
i=5
j=0
while i in range(5,0,-1):
    print(" "*j+"* "*i+" "*j)
    i-=1
    j+=1

* * * * *
 * * * *
  * * *
   * *
    *

In [38]:
i=1
j=5
while i in range(1,6):
    print(" "*i+" *"*j+" "*i)
    i+=1
    j-=1

  * * * * *
   * * * *
    * * *
     * *
      *

In [46]:
i=1
j=5
while i in range(1,6):
    print(" "*j+" *"*i+" "*j)
    i+=1
    j-=1

      *
     * *
    * * *
   * * * *
  * * * * *

In [51]:
i=1
j=5
while i in range(1,6):
    print(" "*j+"* "*i)
    i+=1
    j-=1

     *
    * *
   * * *
  * * * *
 * * * * *

In [74]:
i=1
j=5
k=0
l=6
while j in range(5,0,-1):
    print(" "*j+"*"*i)
    i+=1
    j-=1
while k in range(0,6):    
    print(" "*k+"*"*l)
    k+=1
    l-=1

     *
    **
   ***
  ****
 *****
******
 *****
  ****
   ***
    **
     *

In [79]:
i=1
j=5
k=0
l=6
while j in range(5,0,-1):
    print("*"*i+" "*j)
    i+=1
    j-=1
while k in range(0,6):    
    print("*"*l+" "*k)
    k+=1
    l-=1

*
**
***
****
*****
******
*****
****
***
**
*

In [80]:
i=1
j=5
k=0
l=6
while j in range(5,0,-1):
    print(" "*j+"*"*i)
    i+=1
    j-=1
while k in range(0,6):    
    print("*"*l+" "*k)
    k+=1
    l-=1

     *
    **
   ***
  ****
 *****
******
*****
****
***
**
*

In [1]:
i=1
j=5
k=0
l=6
while j in range(5,0,-1):
    print("*"*i+" "*j)
    i+=1
    j-=1
while k in range(0,6):    
    print(" "*k+"*"*l)
    k+=1
    l-=1

*
**
***
****
*****
******
 *****
  ****
   ***
    **
     *

In [6]:
i=1
k=6
while i in range(1,6):
    print("*"*i)
    i+=1
while k in range(6,0,-1):    
    print("*"*k)
    k-=1

*
**
***
****
*****
******
*****
****
***
**
*

In [13]:
i=1
j=5
k=0
l=6
while j in range(5,0,-1):
    print("*"*i+" "*j+" "*j+"*"*i)
    i+=1
    j-=1
while k in range(0,6):    
    print("*"*l+" "*k+" "*k+"*"*l)
    k+=1
    l-=1

*          *
**        **
***      ***
****    ****
*****  *****
************
*****  *****
****    ****
***      ***
**        **
*          *

In [27]:
i=1
j=5
k=0
l=6
while j in range(5,0,-1):
    print(" "*i+"*"*j+"*"*j+" "*i)
    i+=1
    j-=1
while k in range(0,6):    
    print(" "*l+"*"*k+"*"*k+" "*l)
    k+=1
    l-=1

 **********
  ********
   ******
    ****
     **

     **
    ****
   ******
  ********
 **********

In [37]:
i=1
j=5
k=0
l=6
while j in range(5,0,-1):
    print(" "*j+"*"*i+"*"*i+" "*j)
    i+=1
    j-=1
while k in range(0,6):    
    print(" "*k+"*"*l+"*"*l+" "*k)
    k+=1
    l-=1

     **
    ****
   ******
  ********
 **********
************
 **********
  ********
   ******
    ****
     **

In [43]:
i=1
j=5
k=0
l=6
while j in range(5,0,-1):
    print("*"*j+" "*i+" "*i+"*"*j)
    i+=1
    j-=1
while k in range(0,6):    
    print("*"*k+" "*l+" "*l+"*"*k)
    k+=1
    l-=1

*****  *****
****    ****
***      ***
**        **
*          *

*          *
**        **
***      ***
****    ****
*****  *****

In [13]:
i=6
while i in range(6,0,-1):
    print("*"*i+" \n ")
    i-=1

******

*****

****

***

**

*

In [12]:
i=1
j=5
k=0
l=6
while j in range(5,0,-1):
    print(" * "*i+" "*j+" "*j+" * "*i)
    i+=1
    j-=1
while k in range(0,6):    
    print(" * "*l+" "*k+" "*k+" * "*l)
    k+=1
    l-=1

 *            *
 *  *          *  *
 *  *  *        *  *  *
 *  *  *  *      *  *  *  *
 *  *  *  *  *    *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *    *  *  *  *  *
 *  *  *  *      *  *  *  *
 *  *  *        *  *  *
 *  *          *  *
 *            *

In [47]:
i = 1
while i <= 5:
  j = 1
  while j <= i:
    print(j, end="") #this end will stop to create new line it will continue printing in same line till inner while working 
    j += 1
  print() #this will print new line
  i += 1

1
12
123
1234
12345

In [55]:
print("Hello", end="")
print(" World")

Hello World

In [51]:
print("Hello")
print(" World")

Hello
 World

In [57]:
for i in range(10):
  print(i, end="")

0123456789

In [63]:
for i in range(10):
  print(i, end=" ")
print(type(i))

0 1 2 3 4 5 6 7 8 9 <class 'int'>

In [64]:
for i in range(10):
  print(i)
print(type(i))

0
1
2
3
4
5
6
7
8
9
<class 'int'>

In [71]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end="")
        j+=1
    print()
    i+=1

1
12
123
1234
12345

In [72]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(i,end="")
        j+=1
    print()
    i+=1

1
22
333
4444
55555

In [73]:
i=5
while i>0:
    print("*"*5)
    i-=1

*****
*****
*****
*****
*****

In [81]:
i=5
while i>=0:
    j=1
    while j<=i:
        print(j,end="")
        j+=1
    print()
    i-=1

12345
1234
123
12
1

In [38]:
i=5
while i>=0:
    j=1
    while j<=i:
        print(i,end="")
        j+=1
    print()
    i-=1

55555
4444
333
22
1

In [15]:
n = 5 # number of rows
i = 1 # counter for while loop
while i <= n:
    # print leading spaces
    for j in range(n-i):
        print("", end="")
    # print alternating 1s and 0s
    for j in range(i):
        print("1" if (j+i) % 2 == 1 else "0", end=" ")
    print() # move to next line
    i += 1

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [5]:
n = 5 # number of rows
i = 1 # counter for while loop
while i <= n:
    # print leading spaces
    for j in range(n-i):
        print("  ", end="")
    # print first half of row
    for j in range(i):
        print(j+1, end=" ")
    # print second half of row
    for j in range(i-1, 0, -1):
        print(j, end=" ")
    print() # move to next line
    i += 1

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [8]:
n = 5 # number of rows
i = 1 # counter for while loop
while i <= n:
    # print leading spaces
    for j in range(n-i):
        print(" ", end="")
    # print first half of row
    for j in range(i):
        print(j+1, end="")
    # print second half of row
    for j in range(i-1, 0, -1):
        print(j, end="")
    print() # move to next line
    i += 1

    1
   121
  12321
 1234321
123454321

In [35]:
t = 5 # number of rows

for i in range(1, t+1):
    for j in range(1, 2*t+1):
        if j <= i:
            print(j, end=" ")
        elif abs(2*t-j) < i:
            print(abs(2*t-j)+1, end=" ")
        else:
            print(" ", end=" ")
    print()

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [36]:
t = 5 # number of rows
i = 1 # counter for while loop

while i <= t:
    j = 1 # counter for inner loop
    while j <= 2*t:
        if j <= i:
            print(j, end=" ")
        elif abs(2*t-j) < i:
            print(abs(2*t-j)+1, end=" ")
        else:
            print(" ", end=" ")
        j += 1
    print()
    i += 1

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [37]:
n = 5 # number of rows
i = 1 # counter for while loop

counter = 1 # counter for the numbers

while i <= n:
    j = 1 # counter for inner loop
    while j <= i:
        print(counter, end=" ")
        counter += 1
        j += 1
    print()
    i += 1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15